:root {
  --alto: #ddd;
  --background: var(--white);
  --clr-background: var(--clr-palette-mystic);
  --clr-content-background: var(--clr-palette-white);
  --clr-header: var(--clr-palette-ebony);
  --clr-palette-ebony: #090d18;
  --clr-palette-ebony-clay: #1f2132;
  --clr-palette-emporer: #555;
  --clr-palette-mystic: #e8edf2;
  --clr-palette-perfume: #d5a4f5;
  --clr-palette-seance: #7621ab;
  --clr-palette-silver: #c6c6c6;
  --clr-palette-white: #fff;
  --clr-text: var(--clr-palette-emporer);
  --cod-gray: #151515;
  --dove-gray: #666;
  --font-family-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-header: Poppins, var(--font-family-default);
  --font-family-text: "Noto Sans", var(--font-family-default);
  --font-heading-large: 700 2.25rem / var(--line-height-header) var(--font-family-header);
  --font-heading-medium: 700 1.75rem / var(--line-height-header) var(--font-family-header);
  --font-heading-small: 700 1.375rem / var(--line-height-header) var(--font-family-header);
  --font-heading-x-large: 700 2.75rem / var(--line-height-header) var(--font-family-header);
  --font-heading-x-small: 700 1.125rem / var(--line-height-header) var(--font-family-header);
  --font-text-large: 1.125rem / var(--line-height-text) var(--font-family-text);
  --font-text-medium: 1rem / var(--line-height-text) var(--font-family-text);
  --font-text-small: .875rem / var(--line-height-text) var(--font-family-text);
  --font-text-x-small: .75rem / var(--line-height-text) var(--font-family-text);
  --foreground: var(--cod-gray);
  --line-height-header: 1.3;
  --line-height-text: 1.6;
  --mine-shaft: #151515;
  --secondary-text: var(--dove-gray);
  --shadow: rgba(0, 0, 0, .05);
  --size-margin-large: 2rem;
  --size-margin-medium: 1.5rem;
  --size-margin-small: 1rem;
  --size-margin-x-large: 2.5rem;
  --size-margin-x-small: .5rem;
  --size-padding-large: 1rem;
  --size-padding-medium: .75rem;
  --size-padding-small: .5rem;
  --size-padding-x-large: 1.25rem;
  --size-padding-x-small: .25rem;
  --white: #fff;
}

[data-theme="dark"] {
  --background: var(--cod-gray);
  --clr-background: var(--clr-palette-ebony);
  --clr-content-background: var(--clr-palette-ebony-clay);
  --clr-header: var(--clr-palette-mystic);
  --clr-text: var(--clr-palette-silver);
  --foreground: var(--white);
  --secondary-text: var(--alto);
  --shadow: rgba(255, 255, 255, .05);
}

@theme inline {
  --color-alto: var(--alto);
  --color-background: var(--background);
  --color-clr-background: var(--clr-background);
  --color-clr-content-background: var(--clr-content-background);
  --color-clr-header: var(--clr-header);
  --color-clr-palette-ebony: var(--clr-palette-ebony);
  --color-clr-palette-ebony-clay: var(--clr-palette-ebony-clay);
  --color-clr-palette-emporer: var(--clr-palette-emporer);
  --color-clr-palette-mystic: var(--clr-palette-mystic);
  --color-clr-palette-perfume: var(--clr-palette-perfume);
  --color-clr-palette-seance: var(--clr-palette-seance);
  --color-clr-palette-silver: var(--clr-palette-silver);
  --color-clr-palette-white: var(--clr-palette-white);
  --color-clr-text: var(--clr-text);
  --color-cod-gray: var(--cod-gray);
  --color-dove-gray: var(--dove-gray);
  --font-font-family-default: var(--font-family-default);
  --font-font-family-header: var(--font-family-header);
  --font-font-family-text: var(--font-family-text);
  --color-foreground: var(--foreground);
  --color-mine-shaft: var(--mine-shaft);
  --color-secondary-text: var(--secondary-text);
  --color-shadow: var(--shadow);
  --color-white: var(--white);
}
