:root {
  /* Color primitives */
  --alto: #ddd;
  --cod-gray: #151515;
  --dove-gray: #666;
  --ebony: #090d18;
  --ebony-clay: #1f2132;
  --emperor: #555;
  --mine-shaft: #151515;
  --mystic: #e8edf2;
  --perfume: #d5a4f5;
  --seance: #7621ab;
  --silver: #c6c6c6;
  --white: #fff;

  /* Semantic colors */
  --background: var(--white);
  --content-background: var(--white);
  --foreground: var(--cod-gray);
  --header: var(--ebony);
  --primary-background: var(--mystic);
  --primary-text: var(--emperor);
  --secondary-text: var(--dove-gray);
  --shadow: rgba(0, 0, 0, .05);

  /* Typography */
  --font-family-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-header: Poppins, var(--font-family-default);
  --font-family-text: "Noto Sans", var(--font-family-default);
  --line-height-header: 1.3;
  --line-height-text: 1.6;
}

[data-theme="dark"] {
  /* Semantic colors */
  --background: var(--cod-gray);
  --content-background: var(--ebony-clay);
  --foreground: var(--white);
  --header: var(--mystic);
  --primary-background: var(--ebony);
  --primary-text: var(--silver);
  --secondary-text: var(--alto);
  --shadow: rgba(255, 255, 255, .05);
}

@theme inline {
  /* Color primitives */
  --color-alto: var(--alto);
  --color-cod-gray: var(--cod-gray);
  --color-dove-gray: var(--dove-gray);
  --color-ebony: var(--ebony);
  --color-ebony-clay: var(--ebony-clay);
  --color-emperor: var(--emperor);
  --color-mine-shaft: var(--mine-shaft);
  --color-mystic: var(--mystic);
  --color-perfume: var(--perfume);
  --color-seance: var(--seance);
  --color-silver: var(--silver);
  --color-white: var(--white);

  /* Semantic colors */
  --color-background: var(--background);
  --color-content-background: var(--content-background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --color-primary-background: var(--primary-background);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-shadow: var(--shadow);

  /* Typography */
  --font-default: var(--font-family-default);
  --font-header: var(--font-family-header);
  --font-text: var(--font-family-text);
}
